
.chat-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .history-container {
    display: flex;
    flex-direction: column-reverse;
    gap: .5rem;
    align-items: flex-start;
    height: 500px;
    overflow: auto;

    .chat-message {

      display: flex;
      flex-direction: column;
      gap: .2rem;
      max-width: 100%;

      .author {
        font-size: .75em;
        opacity: .7;
      }

      .message {
        padding: .75rem;
        border-radius: 6px;
        background: #494949;
        color: #fff;
      }

      &.self {
        align-self: flex-end;
        .author {
          opacity: 0;
        }

        .message {
          background: rgb(0, 99, 228);
        }
      }

    }
  }

  .chat-send-message {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;

    .message {
      flex-grow: 1;
    }

  }


}

